* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    width: 100%;
    height: 120px;
}

header {
    width: 100%;
    height: 55%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.menu-down {
    height: 20px;
    /* Aumenta la altura según lo que necesites */
    background-color: black;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 15px 0;
    /* Añade espacio interno */
}

.menu-izquierda {
    width: 100%;
    /* Hace que el contenedor ocupe toda la anchura disponible */
    display: flex;
    justify-content: center;
    /* Centra los enlaces horizontalmente */
}

.menu-izquierda a {
    text-decoration: none;
    color: white;
    font-family: sans-serif;
    font-weight: bold;
    display: inline-block;
    margin: 0 40px;
    text-align: center;
}

.menu-izquierda a:hover {
    color: red;
}

.nuevo-contenedor {
    width: 100%;
    margin-top: 15px;
    height: 30px;
    background-color: white;
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-around;
}

.nuevo-contenedor a:hover {
    color: black;
}

.nuevo-contenedor a {
    text-decoration: none;
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    display: inline-block;
}

.menu-container {
    width: 100%;
}

.accordion-item {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    border-top: 1px black solid;
}

.accordion-item:hover {
    transform: scale(1.05);
    border: 1px black solid;
}

.accordion-title {
    width: 100%;
    background-color: red;
    color: white;
    font-family: sans-serif;
    height: 30px;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.accordion-desc {
    display: none;
    color: black;
    height: 30px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font: bold;
    font-size: 20px;
    font-weight: 500;
}

.accordion-title .tab-active {
    font-size: 30px;
    pointer-events: visible;
}

.tab-active .accordion-desc {
    width: 100%;
    background-color: goldenrod;
    height: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10PX 0;
}

@media (max-width: 1137px) {

    .menu-container {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        align-items: center;
        padding-left: 0;
    }

    .menu-izquierda {
        display: none;
        margin-left: 0;

    }

    .hamburger-icon {
        width: 40px;
        height: 30px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 10px;
    }

    .hamburger-icon span {
        background-color: white;
        width: 100%;
        height: 6px;
        display: block;
        border-radius: 2px;
    }

    .menu-container.menu-open .menu-izquierda {
        padding: 20px 0;
        z-index: 2;
        width: 300px;
        height: 300px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: flex-start;
        background-color: white;
        border-radius: 10px;
        margin: 395PX 0 0 0;
    }

    .menu-container.menu-open .menu-izquierda a {
        color: black;
        display: flex;
        align-items: flex-start;
    }
}

@media (max-width: 830px) {

    menu {
        height: auto;
    }

    .menu-up {
        justify-content: center;
        height: 120px;
    }

    .menu-up img {
        height: 100px;
    }

    .menu-down {
        height: 80px;
    }

    .accordion-title {
        font-size: 30px;
        padding: 30px 0;
    }

    .tab-active .accordion-desc {
        width: 90%;
        font-size: 25px;
        text-align: center;
        padding: 30px;
    }
}

.container-swiper {
    width: 90%;
    height: 350px; /* Aumenta la altura para más espacio abajo */
    display: flex;
    justify-content: center;
    align-items: flex-start; /* Mueve las tarjetas hacia arriba */
    padding: 20px 100px;
    position: relative; /* Asegura que la paginación no esté ligada a las tarjetas */
}
.swiper-container {
    width: 70%;
    height: auto; /* Permite ajuste automático */
}

.swiper-slide {
    height: 250px; /* Mantiene el tamaño fijo de las tarjetas */
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px; /* Crea más espacio debajo de las tarjetas */
    width: 70%;
}
.container-swiper .swiper-slide {
 
    position: relative;
    text-align: center;
    font-size: 18px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 6px 3px 10px 0 black;
   
}

.container-swiper .swiper-slide img {
    display: block;
    width: 100%;
    height: 180px;
    border-radius: 8px;
    object-fit: cover;
}

.container-swiper .swiper-slide .card-description {
    padding: 1rem 1rem;
    text-align: center
}

.container-swiper .swiper-slide .card-title,
.container .swiper-slide .card-text {
    margin-bottom: .5rem;
}

.container-swiper .swiper-slide .card-link {
    text-align: center;
    padding-top: 5px;

}

.container-swiper .swiper-slide .card-link a {
    text-decoration: none;
    color: red;
}

.swiper-button-next,
.swiper-button-prev {
    position: absolute;
    top: 50%; /* Ajusta la posición vertical para que estén alineados */
    transform: translateY(-50%); /* Centra verticalmente */
    color: red !important;
}

.swiper-button-next {
    right: 120px !important; /* Ajusta este valor para moverlo más a la derecha */
    color: red !important;
    top: 50%;
    transform: translateY(-50%);
}
.swiper-button-prev {
    left: 26px !important;
    color: red !important;
    top: 50%;
    transform: translateY(-50%);
}

.swiper-pagination {
    position: absolute;
    bottom: -30px; /* Baja los puntos más abajo */
    left: 50%;
    transform: translateX(-50%);
    width: auto;
    z-index: 10;
}

.swiper-pagination-bullet {
    width: 12px;
    height: 12px;
    background-color: red;
    opacity: 0.5;
    border-radius: 50%;
    transition: opacity 0.3s;
}

.swiper-pagination-bullet-active {
    background-color: red; /* Azul para destacar */
    opacity: 1;
}


footer {
    background: fff;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer-container {
    position: relative;
    /* Fijar el footer para que no empuje el contenido hacia arriba */
    bottom: 0;
    width: 100%;
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px 0;
}


.footer-section h3 {
    margin-bottom: 10px;
    color: red;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
    display: block;
    margin: 5px 0;
}

.copyright {
    width: 100%;
    text-align: center;
    /* Centra el texto */
    font-size: 14px;
    color: #ccc;
    font-weight: bold;
    display: flex;
    justify-content: center;
    /* Centra horizontalmente */
    align-items: center;
    /* Centra verticalmente */
    padding: 15px 0;
}

** body {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    height: 150vh;
    display: flex;
}